*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar{
    width: 100%;
   
    padding: 20px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 2;
}
.navlist{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px;
    
}
.logo{
    margin-left: 200px;
}
.navlist li{
   margin-left: 50px;
   position: relative;
   left: 150px;
   display: flex;
   align-items: center;
}
.background{
    background-image: url(https://inter-nation.uz/1-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;

}
.blure{
    width: 480px;
    height: 400px;
    background-color: rgba(85, 85, 85, 0.658);
    margin-left: 1230px;
   position: relative;
   top: 250px;
   z-index: 1;
   backdrop-filter: blur(10px);
}
.input{
    width: 400px;
    height: 60px;
    margin-left: 40px;
    margin-top: 40px;
}
.number{
    width: 400px;
    height: 60px;
    margin-left: 40px;
    margin-top: 20px;
}
.sign{
    width: 400px;
    height: 60px;
    background-color: rgb(245, 195, 30);
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.white{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}
.video{
    margin-top: 100px;
    margin-left: 200px;
}
.youtube{
    display: flex;
}
.text{
    margin-top: 100px;
    margin-left: 20px ;
    font-size: larger;
}
.text1{
    margin-top: 40px;
    font-size: medium;
}
.stata{
    display: flex;
    justify-content: space-around;
}
.big{
    font-size: 80px;
    font-weight: 700;
}
.stata{
    font-size: 17px;
    margin-top: 30px;
    line-height: 40px;
}
.ru{
    background-color: rgb(197, 195, 195);
    border-radius: 200px;
    width: 34px;
    height: 34px;
    margin-left: 300px;
    border: none;
}
.contact img{
    width: 20px;
    height: 20px;
   
}
.contact{
    background-color: rgb(255, 203, 59);
    border-radius: 200px;
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
}
.tel img{
    width: 20px;
    height: 20px;
}
.tel{
    background-color: rgb(255, 203, 59);
    border-radius: 200px;
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
}
.phone{
    margin-left: 15px;
    margin-top: 3px;
    font-size: larger;
    font-weight: 600;
}
#carouselExample{
    width: 800px;
    height: 200px;
    position: relative;
    bottom: 400px;
    margin: 0 auto;
}
.profi{
    color: rgb(255, 255, 255);
    font-size: large;
    margin-bottom: 400px;
    background-color: rgb(61, 61, 61);
    width: 450px;
    height: 50px;
}
.carousel-item{
   position: relative;
   bottom: 300px;
   
}
.content h4{
     margin-left: 100px;
     position: relative;
     top: 100px;
}
.content p{
    margin-left: 900px;
    margin-top: 60px;
}
.glavniy{
    width: 55%;
    display: flex;
   margin: 0 auto;
    position: relative;
    top: 200px;
   right: 200px;
   gap: 30px;
   
}

.carousel{
    height: 1300px;
}
.teacher{
    width: 200px;
    height: 380px;
    margin-left: 30px
}
.modal-body{
    display: flex;
}
.carousel-control-next-icon{
    background-color:  rgb(255, 203, 59);;

}
.carousel-control-prev-icon{
    background-color:  rgb(255, 203, 59);
}
.our{
    position: relative;
    bottom: 550px;
    left: 350px;
}
.modal-content{
    width: 800px;
   
    line-height: 40px;
}
.qwe{
    position: relative;
    top: 500px;
}
.price{
    position: relative;
    top: 480px;
    width: 1500px;
    height: 700px;
    border: 1px solid gray;
    left: 200px;
}
.btn2{
    display: flex;
    margin-top: 200px;
    gap: 90px;
    position: relative;
    left: 70px;
    bottom: 100px;
}
.btn_price{
    width: 400px;
    height: 60px;
    border: none;
    
}
.list{
    position: relative;
    bottom: 50px;
    left: 50px;
    line-height: 40px;
}
.price h4{
    
    position: relative;
    left: 75px;
    bottom: 30px;
}
.span{
    font-size: 30px;
}
.yellow{
    background-color:  rgb(255, 203, 59);
    color: rgb(53, 53, 53);
    width: 400px;
    height: 60px;
    border: none;
    font-size: 25px;
    position: relative;
    left: 65px;
    bottom: 150px;
    
}
.h1{
    position: relative;
    top: 400px;
    left: 200px;
    font-size: 46px;
}
.image{
    width: 900px;
    height: 430px;
    position: relative;
    bottom: 340px;
    left: 150px;
}
.crooked{
    position: relative;
    top: 600px;
    
}
.spec{
    color: white;
}
.signin_t{
   position: relative;
   top: 150px;
   left: 100px;
   margin-top: 100px;
}
.form{
    background-image: url(https://inter-nation.uz/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    top: 500px;
}
.filial{
    position: relative;
    top: 900px;
}